/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/* COLORS USED

Background Color: #f3f6f4;
Text Color (Dark Gray): #333628;
Primary Color (Dark Green): #3c4a4a;
Secondary Color (Light Blue): #a6c7dc;
Highlighting Color (Yellow): #f0ee51;
 */



/* ALL PAGES */  
body {
    background-color: #f3f6f4;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #333628;
  }
  
  h1 {
    font-family: 'Karla', sans-serif;
    font-size: 26px;font-weight: 700;
  }
    
  h2 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;font-weight: 700;
  }
    
  h3 {
    font-family: 'Karla', sans-serif;
    font-size: 18px;font-weight: 700;  
  }
  
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  
  /* HEADER */
  header {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
  }
  
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #b1b9b9;
  }
  
  .page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
  
  .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
  
  .navigation-list {
    list-style-type: none;
  }
  
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }
  
  .navigation-list__item--active {
    text-decoration: none;
  }
  
  
  /* LINKS */
  
  a {
    font-family: 'Karla', sans-serif;
    color: #3c4a4a;
  }
    
  a:visited {
    color: #a6c7dc;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  a:active {
    color: #f0ee51;
  }
  
  
  /* BUTTONS */
  button {
    border: none;
      font-family: 'Karla', sans-serif;
      background-color: #3c4a4a;
      color: #f3f6f4;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: 0.4s opacity;
      transition: 0.4s opacity;
      margin-top: 15px;
    }
  .button {
    border: none;
      font-family: 'Karla', sans-serif;
      background-color: #3c4a4a;
      color: #f3f6f4;
      text-decoration: none;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      -webkit-transition: 0.4s opacity;
      transition: 0.4s opacity;
      margin-top: 15px;
    }
  
  button:hover, button:focus, .button:hover, button:focus {
    cursor: pointer; 
    opacity: 0.7;
  }
  
  
  /* INDEX */
  .intro {
    max-width: 700px;
    margin: 200px auto;
    text-align: left;
  }
  
  .intro__portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
  }
  
  .intro__text {
    padding: 40px;
  }
  
  
  /* ABOUT ME */
  .profile {
    text-align: center;
    margin: 0 250px;
    padding: 50px;
  }
  
  table {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border: 1px solid #b1b9b9;
    margin: 20px auto;
    padding: 10px;
  }
  
  
  /* WORK */
  .project-list__header {
    margin-top: 40px;
    text-align: center;
  }
  .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    margin-top: 20px;
  }
  
  .project-list__item {
    background-color: lightgray;
    padding: 20px;
  }
  
  .project-list__item:last-child {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-row-span: -2;
    -ms-grid-column: 3;
    grid-column: 3;
    grid-area: 3 / 3 / 1 / 3;
  }
  
  
  /* CONTACT */
  .contact-page {
    text-align: center;
    margin-top: 40px;
  }
  
  
  /* FOOTER */
  .page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  
  
  /* ANIMATION */
  .animation {
    text-align: center;
    margin-top: 30px;
  }
  @-webkit-keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  @keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  
  .sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
  
  }
  
  @-webkit-keyframes sun-move {
      from {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
      to {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
      }
    }
  
  @keyframes sun-move {
      from {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
      to {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
      }
    }
  
  .sun__beams {
    -webkit-animation:3s sun-move infinite alternate linear;
            animation:3s sun-move infinite alternate linear;
  }
  
  
  /* MEDIA QUERIES */
  @media all and (max-width: 500px) {
    .project-list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  
  @media all and (min-width: 500px) and (max-width: 750px){
    .project-list {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media all and (max-width: 750px) {
    .project-list {
      grid-gap: 10px;
    }
    .project-list__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
    .page-header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .page-header__item:last-child {
      text-align: center;
    }
    .profile {
      clear: both;
    }
  }